<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group3.swengandroidapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" /> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/hands_off_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppinglistActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PythonClient" />

        <activity
            android:name=".FavouriteList"
            android:label="@string/title_activity_favourite_list"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".PresentationActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".EditFieldClass" />
        <activity android:name=".EditMessageClass" />
        <activity
            android:name=".RecipeSelectionActivity"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>